

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  width: 286px;
}
.Container{
    width: 70px;
    height: 70px;
    /* border-radius: 10px; */
    font-size: 20px;
    background-color: #ccfff8;
    color: #000000;
    margin-bottom: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.calculator-button{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input-box{
  height: 70px;
  width: 100%;
  padding: 0px;
  border: 0px;
  background: #274d52;
  font-size: 30px;
  color: #FFF;
  text-align: right
}
.AC-Button{
  grid-column: 1 / 3;

  font-size: 20px;
  background-color: #ccfff8;
  color: #000000;
  margin-bottom: 2px;
  margin-right: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.Equal-Button{
  grid-column: 3 / 5;
  
  font-size: 20px;
  background-color: #ccfff8;
  color: #000000;
  margin-bottom: 2px;
  margin-left: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}